/* color= 4338CA
#4F46E5 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #4F46E5;
    --secondary-color: #6B7280;
    --background-color: #D1D5DB;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

hr {
    margin: 2rem;
}

/**Fluid-container**/

.container {
    padding: 0.5rem 1rem;
}

.center-container {
    max-width: 600px;
    margin: auto;
}

/**Links**/

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/**look into BEM Naming convention on css**/

/**@list**/

.list-no-bullets {
    list-style: none;
}

.inline-list {
    display: inline;
    padding: 0rem 0.5rem;
    list-style: none;
}

/**Navigation**/
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    padding-top: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-new {
    color: white;
}

.navigation .link {
    color: white;
    font-size: 1.1rem;
}

.navigation .nav-new {
    text-align: right;
    padding-top: 1rem;
}

.navigation .nav-main {
    font-weight: bold;
    font-size: 1.3rem;
}

.navigation .active-link {
    font-weight: bold;
}

/**hero header**/
.hero {
    padding: 2rem;
}
.hero-img {
    max-width: absolute;
    display: block;
    margin: auto;
}
.hero-heading {
    color: white;
    text-align: center;
    background-color: #1F2937;
    padding: 1.1rem;
    border-radius: 3rem;
    font-size: 2rem;
    margin: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
/**section**/
.section {
    padding: 2rem;
}
.section h1 {
    text-align: center;
}
.new {
    background-color: #1F2937;
    color: white;
}
/**footer**/
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem 0rem;
    border-top-right-radius: 1rem;
}
.footer .link {
    color:white;
}
.footer .ul {
    padding-inline-start: 0px;
}
